#banner,#w3c{
    background-image: url("https://webster.cs.washington.edu/images/kevinbacon/banner-background.png");
    color: white;
    
}
body{
  font-family: verdana;  
}

#main{
    text-align: center;
}

#main>form{
    margin-left: 25%;
    margin-right: 25%;
}
table {
	width:800px;
	border-collapse:collapse;
	border:solid;
	border-width:1px;
	border-color:#dad9d4;
	margin-left:auto;
	margin-right:auto;
	
}

tr:nth-child(even) {
	border-color:#dad9d4;
    background-color: #dad9d4;
}

tr:nth-child(odd) {
	border-color:#dad9d4;
    background-color: #ffffff;
}